@using MauiBlazorClient.Components.Global;
@using System.ComponentModel.DataAnnotations;
@inject IChatService ChatService;

@*
<EditForm Model="@_inputModel" FormName="NewChat" OnValidSubmit="@Submit" disabled="@_isSubmitting">
    <div class="title">New chat</div>
    <DataAnnotationsValidator />
    <div>
        <InputText @bind-Value="_inputModel.UserEmail" placeholder="User email" />
        <ValidationMessage For="() => _inputModel.UserEmail" />
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
    <ErrorMessage Message="@_errorMessage" />
</EditForm>
 *@

<div>
    <div class="title">New group chat</div>
    <input @bind-value="@_groupName" placeholder="Group name" />
    <button class="btn btn-primary" @onclick="Submit">Add</button>
</div>


@code {
    private ChatRequest _inputModel = new();
    private string _groupName = string.Empty;

    private bool _isSubmitting;
    private string? _errorMessage;


    private async Task Submit()
    {
        await Task.Delay(100);
        _isSubmitting = true;
        _errorMessage = string.Empty;

        //await ChatService.CreateChatAsync(new GroupChatRequest(_groupName));
        if (_isSubmitting)
            _isSubmitting = false;
    }

    private class ChatRequest
    {
        [Required]
        [EmailAddress]
        public string UserEmail { get; set; } = null!;
    }
}


